/**
!/docs
!/docs/**
!/src
!/src/**
!/tests
!/tests/**
!.eslintignore
!.eslintrc.json
!.gitignore
!.npmignore
!LICENSE
!package-lock.json
!package.json
!README.md
!rollup.config.mjs
!tsconfig.json
!typedoc.json
